/*especifidad a=0,b=0,c=1 001*/
body{
   
    font-family: Tahoma, sans-serif;
    font-size:1.1em;
    line-height: 1.8;
    color:hsl(0, 23%, 3%);
    background-color: #d9d9d9;
    padding: 1em;
    margin:2px;
}
/*FLOTANDO LAS IMAGENES*/
img.ImagenSoprano{
	float:left;
    margin:10px;
    padding: 1em;
}

/*especifidad a=0 b=1 c=2 012*/
ul.navbar li {
    background:#c7ddfc;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #909090}

    /*especifidad a=0 b=1 c=1 011*/
ul.navbar {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 2em;
        left: 1em;
        width: 9em }



/*especifidad a=1,b=0,c=0 100*/
#ImagenSoprano{width:15em;
    padding: 1em;
}

/*especifidad a=0,b=0,c=1 001*/
h1,h2,h3,h4,h5,h6{
    font-family:Arial,Helvetica,Verdana,sans-serif;
    font-weight: bold;
    margin:3px;
    text-align: center;
    text-transform: uppercase;
    padding: 1em;
    }

/*especifidad a=0,b=0,c=1 001*/
h1{font-size:2em;
    background-color: #99B346;
    color:#BFC9CA;
   
}
/*especifidad a=0,b=0,c=1 001*/
h2{font-size:1.5em;
    color:#A8844A;
 background-color: #96C1FF;
}
/*especifidad a=0,b=0,c=1 001*/
h1,h2{
    border-radius: 20px;
    line-height: 4em;
    text-align: center;
    text-transform: uppercase;
}
/*especifidad a=0 b=0 c=1 001*/
p,li,td{ font-family:"Times New Roman",Georgia,serif;
    font-size:1em;}
/*especifidad a=0 b=0 c=2 002*/
p::first-letter { font-size:130%; }

/*especifidad a=0 b=0 c=1 001*/
p{text-align: justify;
    direction: ltr;

}
/*especifidad a=0 b=1 c=1 011*/
/*no visitado*/
a:link {
        color: #FF0000; 
        text-decoration-line: underline;
        text-decoration-style: dotted;
        text-decoration-color: #9999CC;
    }

/*especifidad a=0 b=1 c=1 011*/
a:visited {
color: #12A6AB;
text-decoration-line: underline;
text-decoration-style:dashed ;
text-decoration-color: #9999CC;
    }
/*especifidad a=1 b=0 c=0 100*/
#indexBody{
    padding-left: 11em;
}

 #w3c{border:0;
     width:88px;
 height:31px;
}

#html{
    border:0;
      width:63px;
    height:64px;
}
