/*especifidad a=0 b=1 c= 2 012*/
ul.navbar li {
    background:#c7ddfc;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid #909090}
    /*especifidad a=0 b=1 c= 1 011*/
ul.navbar {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 2em;
        left: 1em;
        width: 9em }
/*especifidad a=0 b=1 c= 1 011*/
 ul.menu {
            border: 1px solid #7C7C7C;
            border-bottom: none;
            list-style: none;
            margin: 1px;
            padding: 2px;
            width: 180px;
          }
/*especifidad a=0 b=1 c= 2 012*/
ul.menu li {
            background: #c7ddfc;
            border-bottom: 1px solid #7C7C7C;
            border-top: 1px solid #FFF;
            text-align: center;
          }